USE [master]
GO

/****** Object:  Database [ATM]    Script Date: 09/12/2020 23:29:19 ******/
CREATE DATABASE [ATM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ATM.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ATM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ATM_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO





USE [ATM]
GO
/****** Object:  Table [dbo].[Balances]    Script Date: 09/12/2020 23:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balances](
	[BalanceId] [int] IDENTITY(1,1) NOT NULL,
	[TarjetaId] [int] NOT NULL,
	[FechaOperacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Balances] PRIMARY KEY CLUSTERED 
(
	[BalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Retiros]    Script Date: 09/12/2020 23:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retiros](
	[RetiroId] [int] IDENTITY(1,1) NOT NULL,
	[TarjetaId] [int] NOT NULL,
	[FechaOperacion] [datetime2](7) NOT NULL,
	[CantidadOperada] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Retiros] PRIMARY KEY CLUSTERED 
(
	[RetiroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tarjetas]    Script Date: 09/12/2020 23:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjetas](
	[TarjetaId] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [nvarchar](16) NOT NULL,
	[PIN] [int] NOT NULL,
	[Reintentos] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Bloqueada] [bit] NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tarjetas] PRIMARY KEY CLUSTERED 
(
	[TarjetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Tarjetas] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [FechaVencimiento]
GO
ALTER TABLE [dbo].[Balances]  WITH CHECK ADD  CONSTRAINT [FK_Balances_Tarjetas_TarjetaId] FOREIGN KEY([TarjetaId])
REFERENCES [dbo].[Tarjetas] ([TarjetaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Balances] CHECK CONSTRAINT [FK_Balances_Tarjetas_TarjetaId]
GO
ALTER TABLE [dbo].[Retiros]  WITH CHECK ADD  CONSTRAINT [FK_Retiros_Tarjetas_TarjetaId] FOREIGN KEY([TarjetaId])
REFERENCES [dbo].[Tarjetas] ([TarjetaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Retiros] CHECK CONSTRAINT [FK_Retiros_Tarjetas_TarjetaId]
GO


use ATM
GO
insert into [Tarjetas] values('5645645646234323', 1234, 0, 100, 0, '20280101')
insert into [Tarjetas] values('5645645646234324', 1234, 0, 100, 0, '20250101')
insert into [Tarjetas] values('1111111122222222', 1234, 0, 500, 0, '20300101')
GO

