<div>
  <div class="col-lg-6">
    <button class="col-lg-2 col-md-2 col-sm-2 col-1 btn btn-light btn-key-size" (click)="btnPushed(7)" >7</button>
    <button class="col-lg-2 col-md-2 col-sm-2 col-1  btn btn-light btn-key-size" (click)="btnPushed(8)">8</button>
    <button class="col-lg-2 col-md-2 col-sm-2 col-1  btn btn-light btn-key-size" (click)="btnPushed(9)">9</button>
  </div>
  <div class="col-lg-6">
    <button class="col-lg-2 col-md-2 col-sm-2 col-1 btn btn-light btn-key-size"  (click)="btnPushed(4)">4</button>
    <button class="col-lg-2 col-md-2 col-sm-2 col-1 btn btn-light btn-key-size"  (click)="btnPushed(5)">5</button>
    <button class="col-lg-2 col-md-2 col-sm-2 col-1 btn btn-light btn-key-size"  (click)="btnPushed(6)">6</button>
  </div>
  <div class="col-lg-6">
    <button class="col-lg-2 col-md-2 col-sm-2 col-1 btn btn-light btn-key-size"  (click)="btnPushed(1)">1</button>
    <button class="col-lg-2 col-md-2 col-sm-2 col-1 btn btn-light btn-key-size"  (click)="btnPushed(2)">2</button>
    <button class="col-lg-2 col-md-2 col-sm-2 col-1 btn btn-light btn-key-size"  (click)="btnPushed(3)">3</button>
  </div>
  <div class="col-lg-6">
    <button class="col-lg-6 col-md-6 col-sm-6 col-6  btn btn-light btn-key-size" (click)="btnPushed(0)">0</button>
  </div>
</div>
<div class="col-lg-6">
  <button class="col-3 btn btn-info" (click)="btnAccept()">Aceptar</button>
  <button class="col-3 btn btn-danger" (click)="btnClear()">Limpiar</button>
</div>
